/* Conteneur Flex */
.article{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px 0;
}

/* Element du conteneur flex */
.article__div{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 500px;
    background-color: rgba(0, 0, 0, 0.150);
    border-radius: 10px;
}

/* Element du conteneur flex */
.article__figure{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    transform: scale(1);
    transition: transform 1s;
}

/* hover du contenant flex */
.article__figure:hover{
    transform: scale(1.1);
}

/* h3 du conteneur flex */
.article__h3{
    font-size: 2rem;
    margin: 10px;
}


/* p du conteneur flex */
.article__p{
    font-size: 20px;
    margin: 10px;
}

/* img du conteneur flex */
.article__img{
    display: block;
    width: 100%;
    border-radius: 10px;
}

/* figcaption du conteneur flex */
.article__figcaption{
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
}

/* Un conteneur flex sur deux */
.article:nth-of-type(odd) .article__figure{
    order: -1;
}