/* Conteneur Flex */
.article{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px 0;
}

/* Element du conteneur flex */
.article__div{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 500px;
    background-color: rgba(0, 0, 0, 0.150);
    border-radius: 10px;
}

/* Element du conteneur flex */
.article__figure{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
}

.article__h3{
    font-size: 2rem;
    margin: 10px;
}

.article__p{
    font-size: 20px;
    margin: 10px;
}

.article__img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.article__figcaption{
    font-size: 18px;
}

.article:nth-of-type(odd) .article__figure{
    order: -1;
}