/* Cacher le menu et la checkbox par défaut */
.liens, #chk-burger{
    /* Permet de rendre un element invisible */
    display: none; 
}

/* Style de l’icône du menu burger */
.menu__burger{
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 2;
}

/* Conteneur des liens du menu */
.liens{
    display: block;
    position: fixed;
    top: 70px;
    right: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.300);
    width: 250px;
    border-radius: 8px;
    z-index: 3;

    transform: translateX(110%);
    transition: transform 1s;
}

/* Style des liens à l’intérieur du menu */
.liens a{
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-family: "Oswald", sans-serif;
    color: white;
    background-color: black;
    border-radius: 8px;
    padding: 5px;
    margin: 10px;
}

/* Effet hover sur les liens du menu */
.liens a:hover{
    color: black;
    background-color: white;
    text-decoration: underline;
}

/* Transformation du menu quand la checkbox est cochée */
#chk-burger:checked ~ .liens{
    transform: translateX(0);
}

/*Maison qui permet de revenir a l'acceuil*/
.maison{
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 2;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.500);
}

.maison__img:hover{
    background-color: blueviolet;
    padding: 5px;
}
