/*global*/
.global {
    background-color: #f6e6a8;
    padding: 4rem 2rem;
}

.global h1, .global h2, .global h3 {
    font-family: "DynaPuff", cursive;
}

/* Titre principal */
.global h1 {
    font-size: clamp(0.1rem, 5vw, 3rem);
    margin-bottom: 4rem;
}

/*Textes*/
.global ol, .global li, .global figcaption {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
}

/************************* RECETTE ******************/
.recette {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 6rem;
    align-items: flex-start;
}

/*image*/
.recette__image {
    flex: 1 1 100%;
    max-width: 500px;
    order: 1;
    display: flex;
    justify-content: center;
}

/*ingredients*/
.recette__ingredients {
    flex: 1 1 45%;
    min-width: 320px;
    order: 2;
}

.recette__ingredients h2 {
    margin-bottom: 1rem;
}

/*preparation*/
.recette__bas {
    flex: 1 1 100%;
    order: 3;
    border-bottom: 4px dotted #aaa;
}

.recette__preparation {
    width: 100%;
    margin-top: 1.5rem;
}

.recette__preparation h2 {
    margin-bottom: 1rem;
}

/*style de l'image*/
.recette__figure {
    background-color: #f6e6a8;
    padding: 12px;
    border-radius: 12px;
    transform: rotate(-5deg);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease;
}

.recette__figure:hover {
    transform: rotate(0deg);
}

.recette__img {
    width: 100%;
    max-width: 350px;
    border-radius: 8px;
    display: block;
}

.recette__figcaption {
    text-align: center;
    margin-top: 0.5rem;
    font-weight: 600;
}

/*alternance droite gauche*/
.recette:nth-of-type(even) .recette__image {
    order: 2;
}

.recette:nth-of-type(even) .recette__ingredients {
    order: 1;
}
