/*global*/
.global {
    background-color: #fdd637;
}

/*Polices DynaPuff*/
.global h1, .global h2, .global h3 {
    font-family: "DynaPuff";
}

/* Titre principal */
.global h1 {
    font-size: clamp(0.1rem, 5vw, 3rem);
    margin-bottom: 30px;
}

.global h2{
    margin-top: 20px;
}

/*Polices montserrat*/
.global ol, .global li, .global figcaption {
    font-family: "Montserrat";
    margin-left: -10px;
    margin-bottom: 10px;
}

/*Recette*/
.recette {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: flex-start;
    border-bottom: 5px dotted #aaa;
}

.recette__div{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 400px;
    border-radius: 10px;
    padding: 15px;
}

.recette__image{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
    min-width: 300px;
}

/*style de l'image*/
.recette__figure {
    padding: 10px;
    border-radius: 10px;
    transform: rotate(-5deg);
    transition: transform 1s;
    border: 2px solid #aaa;
    margin-top: 50px;
}

.recette__figure:hover {
    transform: rotate(0deg);
}

.recette__img {
    display: block;
    width: 100%;
    border-radius: 10px;
    
}


.recette__figcaption {
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.150);
}

/*alternance droite gauche*/
.recette:nth-last-of-type(odd) .recette__image {
    order: -1;
}

.recette__image {
    order: -1;
}

.recette:nth-last-of-type(odd) .recette__figure {
    transform: rotate(5deg);
}

.recette:nth-last-of-type(odd) .recette__figure:hover {
    transform: rotate(0deg);
}
